<div class="sidebar" [ngClass]="(visible$ | async) ? 'show' : 'hide'">
    <div class="h-16 grid place-items-center mb-4">
        <img
            class="h-8 w-8 mx-auto"
            src="https://tailwindui.com/img/logos/workflow-mark-indigo-500.svg"
            alt="Workflow"
        />
    </div>

    <div class="flex flex-col space-y-4">
        <button
            class="hover:bg-gray-600 focus:bg-gray-600 cursor-pointer py-2 px-4 rounded text-white"
            *ngFor="let item of modules$ | async"
        >
            <div class="flex items-center space-x-4">
                <em class="text-sm" [ngClass]="(item.icon || '') + (item.class || '')"></em>
                <span class="label">{{ item.label }}</span>
            </div>
        </button>
    </div>
</div>
